.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(20vw, 44vh, 66px);
            transform: translate3d(20vw, 44vh, 66px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(20vw, 44vh, 66px);
            transform: translate3d(20vw, 44vh, 66px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.28;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(2vw, 46vh, 69px);
          transform: translate3d(2vw, 46vh, 69px);
  background: #d9262f;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(6vw, 58vh, 15px);
            transform: translate3d(6vw, 58vh, 15px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(6vw, 58vh, 15px);
            transform: translate3d(6vw, 58vh, 15px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.15;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(87vw, 29vh, 90px);
          transform: translate3d(87vw, 29vh, 90px);
  background: #a6d926;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(5vw, 50vh, 73px);
            transform: translate3d(5vw, 50vh, 73px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(5vw, 50vh, 73px);
            transform: translate3d(5vw, 50vh, 73px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.1;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(46vw, 38vh, 50px);
          transform: translate3d(46vw, 38vh, 50px);
  background: #d926d6;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(81vw, 2vh, 46px);
            transform: translate3d(81vw, 2vh, 46px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(81vw, 2vh, 46px);
            transform: translate3d(81vw, 2vh, 46px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.62;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(68vw, 26vh, 57px);
          transform: translate3d(68vw, 26vh, 57px);
  background: #d9cd26;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(49vw, 8vh, 15px);
            transform: translate3d(49vw, 8vh, 15px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(49vw, 8vh, 15px);
            transform: translate3d(49vw, 8vh, 15px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.44;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(16vw, 71vh, 65px);
          transform: translate3d(16vw, 71vh, 65px);
  background: #26d3d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(23vw, 21vh, 85px);
            transform: translate3d(23vw, 21vh, 85px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(23vw, 21vh, 85px);
            transform: translate3d(23vw, 21vh, 85px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.05;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(90vw, 36vh, 59px);
          transform: translate3d(90vw, 36vh, 59px);
  background: #3526d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(11vw, 49vh, 60px);
            transform: translate3d(11vw, 49vh, 60px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(11vw, 49vh, 60px);
            transform: translate3d(11vw, 49vh, 60px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(11vw, 89vh, 30px);
          transform: translate3d(11vw, 89vh, 30px);
  background: #6526d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(69vw, 90vh, 7px);
            transform: translate3d(69vw, 90vh, 7px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(69vw, 90vh, 7px);
            transform: translate3d(69vw, 90vh, 7px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(56vw, 40vh, 77px);
          transform: translate3d(56vw, 40vh, 77px);
  background: #d9267d;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(72vw, 85vh, 100px);
            transform: translate3d(72vw, 85vh, 100px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(72vw, 85vh, 100px);
            transform: translate3d(72vw, 85vh, 100px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.16;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(36vw, 69vh, 29px);
          transform: translate3d(36vw, 69vh, 29px);
  background: #2682d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(44vw, 27vh, 71px);
            transform: translate3d(44vw, 27vh, 71px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(44vw, 27vh, 71px);
            transform: translate3d(44vw, 27vh, 71px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.62;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(90vw, 50vh, 30px);
          transform: translate3d(90vw, 50vh, 30px);
  background: #5626d9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(23vw, 1vh, 45px);
            transform: translate3d(23vw, 1vh, 45px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(23vw, 1vh, 45px);
            transform: translate3d(23vw, 1vh, 45px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.09;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(32vw, 6vh, 55px);
          transform: translate3d(32vw, 6vh, 55px);
  background: #d9266b;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(20vw, 30vh, 24px);
            transform: translate3d(20vw, 30vh, 24px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(20vw, 30vh, 24px);
            transform: translate3d(20vw, 30vh, 24px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(20vw, 73vh, 99px);
          transform: translate3d(20vw, 73vh, 99px);
  background: #d95326;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(11vw, 33vh, 91px);
            transform: translate3d(11vw, 33vh, 91px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(11vw, 33vh, 91px);
            transform: translate3d(11vw, 33vh, 91px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.14;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(19vw, 53vh, 42px);
          transform: translate3d(19vw, 53vh, 42px);
  background: #d98226;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(44vw, 24vh, 79px);
            transform: translate3d(44vw, 24vh, 79px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(44vw, 24vh, 79px);
            transform: translate3d(44vw, 24vh, 79px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(43vw, 87vh, 20px);
          transform: translate3d(43vw, 87vh, 20px);
  background: #26d9c4;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(72vw, 83vh, 78px);
            transform: translate3d(72vw, 83vh, 78px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(72vw, 83vh, 78px);
            transform: translate3d(72vw, 83vh, 78px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.02;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(33vw, 68vh, 21px);
          transform: translate3d(33vw, 68vh, 21px);
  background: #26d9ca;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(72vw, 68vh, 15px);
            transform: translate3d(72vw, 68vh, 15px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(72vw, 68vh, 15px);
            transform: translate3d(72vw, 68vh, 15px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.48;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(60vw, 62vh, 95px);
          transform: translate3d(60vw, 62vh, 95px);
  background: #d99d26;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(27vw, 47vh, 72px);
            transform: translate3d(27vw, 47vh, 72px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(27vw, 47vh, 72px);
            transform: translate3d(27vw, 47vh, 72px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.39;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(47vw, 54vh, 95px);
          transform: translate3d(47vw, 54vh, 95px);
  background: #d9269a;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(87vw, 8vh, 6px);
            transform: translate3d(87vw, 8vh, 6px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(87vw, 8vh, 6px);
            transform: translate3d(87vw, 8vh, 6px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.06;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(70vw, 52vh, 31px);
          transform: translate3d(70vw, 52vh, 31px);
  background: #d97426;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(65vw, 73vh, 70px);
            transform: translate3d(65vw, 73vh, 70px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(65vw, 73vh, 70px);
            transform: translate3d(65vw, 73vh, 70px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.52;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(10vw, 5vh, 91px);
          transform: translate3d(10vw, 5vh, 91px);
  background: #26d9a3;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(66vw, 26vh, 44px);
            transform: translate3d(66vw, 26vh, 44px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(66vw, 26vh, 44px);
            transform: translate3d(66vw, 26vh, 44px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.42;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(77vw, 28vh, 16px);
          transform: translate3d(77vw, 28vh, 16px);
  background: #94d926;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(89vw, 33vh, 59px);
            transform: translate3d(89vw, 33vh, 59px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(89vw, 33vh, 59px);
            transform: translate3d(89vw, 33vh, 59px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.28;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(50vw, 17vh, 58px);
          transform: translate3d(50vw, 17vh, 58px);
  background: #65d926;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(45vw, 12vh, 96px);
            transform: translate3d(45vw, 12vh, 96px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(45vw, 12vh, 96px);
            transform: translate3d(45vw, 12vh, 96px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(21vw, 33vh, 96px);
          transform: translate3d(21vw, 33vh, 96px);
  background: #26a0d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(34vw, 43vh, 84px);
            transform: translate3d(34vw, 43vh, 84px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(34vw, 43vh, 84px);
            transform: translate3d(34vw, 43vh, 84px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(20vw, 49vh, 99px);
          transform: translate3d(20vw, 49vh, 99px);
  background: #26d9cd;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(68vw, 4vh, 18px);
            transform: translate3d(68vw, 4vh, 18px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(68vw, 4vh, 18px);
            transform: translate3d(68vw, 4vh, 18px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.14;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(86vw, 71vh, 12px);
          transform: translate3d(86vw, 71vh, 12px);
  background: #26d0d9;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(7vw, 51vh, 34px);
            transform: translate3d(7vw, 51vh, 34px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(7vw, 51vh, 34px);
            transform: translate3d(7vw, 51vh, 34px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.57;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(59vw, 11vh, 86px);
          transform: translate3d(59vw, 11vh, 86px);
  background: #26d965;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(16vw, 10vh, 21px);
            transform: translate3d(16vw, 10vh, 21px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(16vw, 10vh, 21px);
            transform: translate3d(16vw, 10vh, 21px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(7vw, 62vh, 6px);
          transform: translate3d(7vw, 62vh, 6px);
  background: #d9bb26;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(28vw, 39vh, 53px);
            transform: translate3d(28vw, 39vh, 53px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(28vw, 39vh, 53px);
            transform: translate3d(28vw, 39vh, 53px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.06;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(82vw, 88vh, 38px);
          transform: translate3d(82vw, 88vh, 38px);
  background: #d92632;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(10vw, 32vh, 37px);
            transform: translate3d(10vw, 32vh, 37px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(10vw, 32vh, 37px);
            transform: translate3d(10vw, 32vh, 37px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(4vw, 64vh, 46px);
          transform: translate3d(4vw, 64vh, 46px);
  background: #d3d926;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(35vw, 38vh, 88px);
            transform: translate3d(35vw, 38vh, 88px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(35vw, 38vh, 88px);
            transform: translate3d(35vw, 38vh, 88px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.46;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(42vw, 64vh, 77px);
          transform: translate3d(42vw, 64vh, 77px);
  background: #d95026;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(89vw, 64vh, 22px);
            transform: translate3d(89vw, 64vh, 22px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(89vw, 64vh, 22px);
            transform: translate3d(89vw, 64vh, 22px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(5vw, 71vh, 99px);
          transform: translate3d(5vw, 71vh, 99px);
  background: #d926a9;
}